html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video,
input {
  margin: 0;
  padding: 0;
  border: none;
  outline: 0;
  font-family: STHeitiSC-Light;
  font: inherit;
  vertical-align: baseline; }

html,
body,
form,
fieldset,
p,
div,
h1,
h2,
h3,
h4,
h5,
h6 {
  -webkit-text-size-adjust: none; }

html,
body {
  width: 100%;
  height: 100%; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  font-family: arial, sans-serif; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

ins,
a {
  text-decoration: none; }

del {
  text-decoration: line-through; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  display: inline-block; }

input,
textarea {
  border: none;
  background: none;
  outline: none;
  -webkit-appearance: none; }

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -moz-tap-highlight-color: rgba(0, 0, 0, 0);
  -ms-tap-highlight-color: rgba(0, 0, 0, 0);
  -o-tap-highlight-color: rgba(0, 0, 0, 0); }

/*html {
    font-size: $browser-default-font-size;
}*/
html {
  font-size: 37.5px; }

body,
html {
  width: 100%;
  height: 100%; }

.wrap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column; }

.header {
  width: 100%;
  height: 130px;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  box-sizing: border-box; }

.header h2 {
  height: 50px;
  font-size: 35px;
  margin-bottom: 5px; }

.header form {
  background: #e8e8e8;
  flex: 1;
  display: flex;
  align-items: center;
  border-radius: 8px; }

.header form input {
  height: 80%;
  background: #e8e8e8;
  border: none;
  margin-left: 20px; }

.section {
  flex: 1;
  overflow: hidden;
  display: flex; }

.left {
  width: 30%;
  height: 100%;
  background: #e8e8e8; }

.listleft {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden; }

.listleft li {
  font-size: 25px;
  width: 100%;
  height: 100px;
  line-height: 100px;
  text-align: center;
  border-bottom: 1px solid #ccc; }

.listleft li.active {
  background: #fff; }

.right {
  flex: 1;
  padding: 0 10px;
  box-sizing: border-box; }

.rightlist {
  width: 100%;
  display: flex;
  flex-direction: column; }

.rightlist h3 {
  /* font-size:  */
  margin: 10px 0; }

.right-dl {
  display: flex;
  flex-wrap: wrap; }

.right-dl dl {
  width: 33.3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px; }

.footer {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center; }

.footer dl {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px; }

.footer dl dt i {
  font-size: 26px; }
